@page "/agreement-view"
@inject HttpClient http
@using Newtonsoft.Json
@using Data

<h3>lista de Convenios</h3>

@if (agreements == null)
{
    <Text> cargando </Text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agreement in agreements)
            {
                <tr>
                    <td>@agreement.id</td>
                    <td>@agreement.name</td>
                    <td>@agreement.description</td>
                    <td>@agreement.amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<Agreement> agreements = new List<Agreement>();

    public async Task getAgreement()
    {
        var apiName = "api/agreement";
        var httpResponse = await http.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            Response responseData = JsonConvert.DeserializeObject<Response>(await httpResponse.Content.ReadAsStringAsync());
            agreements = responseData.agreementsList;
            StateHasChanged();
        }
    }
}

